@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --clr-bg-dark: #1f2937; /* gray-800 */
    --clr-bg-light: #e2e8f0; /* slate-200 */
  
    --clr-text-dark: #e2e8f0; /* slate-200 */
    --clr-text-light: #1e293b; /* slate-800 */
  }
  
  .dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
    border-color: var(--clr-text-dark);
  }
  
  .light {
    background-color: var(--clr-bg-light);
    color: var(--clr-text-light);
    border-color: var(--clr-text-light);
  }

  @font-face {
    font-family: "burtons";
    src: url("../public/Burtons.otf");
  }