@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --clr-bg-dark: #1f2937; /* gray-800 */
    --clr-bg-light: #e2e8f0; /* slate-200 */
  
    --clr-text-dark: #e2e8f0; /* slate-200 */
    --clr-text-light: #1e293b; /* slate-800 */
  }
  
  .dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
    border-color: var(--clr-text-dark);
  }
  
  .light {
    background-color: var(--clr-bg-light);
    color: var(--clr-text-light);
    border-color: var(--clr-text-light);
  }

  @font-face {
    font-family: "burtons";
    src: url("../public/Burtons.otf");
  }

  /* scroll style */

  .top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: #2e3553;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #2e3553;
    border: 2px solid #2e3553;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }

  #cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:block;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}